
main {
    color: white;
    height: 38em;
    padding: 20px;
    display:  flex;
    justify-content: center;
    align-items: center ;
    justify-content: space-around;
    border-bottom: 1px solid white;
}
.question {
    display: flex;
    flex-direction: column;
    justify-content: space-around   ;
    height: 10em;

}

button {
    border: none;
    border-radius: 10px;
    background-color: beige;
    padding: 10px;
    width: 45%;
}
main img {
width:400px;
height: 300px;
}